body {
  margin: 0px;
  height: auto;
  width:auto;
}

button {
  position: absolute;
  bottom: 30px;
  transform: translateX(-50%);
  z-index: 1;
  background-color: aliceblue;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #275efe;
  padding: 10px 10px;
  width: 120px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
    border-radius: 5px;
}

h1{
    font-family: "trajan pro", serif;
    color:#275efe;
}

.box {
    z-index: 1;
    position: absolute;
    top: 0px;
    align-items: center;
    border: 0px solid aliceblue;
    padding: 0%;
    width: 100%;
    margin: 0%;
    background-color: aliceblue;
}

#button1 {
  position: fixed;
  left: 20%;
}

#button2 {
  position: fixed;
  left: 80%;
}
